<%- include("header"); %>
<div>
  <p>At the end you'll be given your results showing the correct answers,
    where you rank against others, and your score.</p>

  <h2>Good Luck!</h2>
  <a href="/question-one" class="btn-big">Lets Begin!</a>
</div>
<%- include("footer"); %>
