<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      a variable that is only visible within a function where it’s defined
    </div>
    <div class="answer-item">
      <span>B</span>
      a variable in a function that stores other variables
    </div>
    <div class="answer-item">
      <span>C</span>
      a variable that is visible anywhere in the program
    </div>
    <div class="answer-item">
      <span>D</span>
      a variable that is declared with no value
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="/question-five"class="nav-item">Previous</a>
  <a href="/question-seven" class="nav-item">Next</a>
</div>
<%- include("footer"); %>
