<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      Boolean
    </div>
    <div class="answer-item">
      <span>B</span>
      String
    </div>
    <div class="answer-item">
      <span>C</span>
      Loop
    </div>
    <div class="answer-item">
      <span>D</span>
      Undefined
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="#" class="nav-item disabled">Previous</a>
  <a href="/question-two" class="nav-item">Next</a>
</div>
<%- include("footer"); %>
