<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      Input keyed information into database
    </div>
    <div class="answer-item">
      <span>B</span>
      Display keyed information to user
    </div>
    <div class="answer-item">
      <span>C</span>
      Retrieve requested information and display
    </div>
    <div class="answer-item">
      <span>D</span>
      Creates and logs keyed variables
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="/question-two"class="nav-item">Previous</a>
  <a href="/question-four" class="nav-item">Next</a>
</div>
<%- include("footer"); %>
