<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      Net Solutions
    </div>
    <div class="answer-item">
      <span>B</span>
      Netscape
    </div>
    <div class="answer-item">
      <span>C</span>
      Internet Explorer
    </div>
    <div class="answer-item">
      <span>B</span>
      ARAPANET
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="/question-eight"class="nav-item">Previous</a>
  <a href="/question-ten" class="nav-item disabled">Next</a>
</div>
<%- include("footer"); %>
