<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      Action
    </div>
    <div class="answer-item">
      <span>B</span>
      Parse
    </div>
    <div class="answer-item">
      <span>C</span>
      Hash
    </div>
    <div class="answer-item">
      <span>D</span>
      Value
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="/question-six"class="nav-item">Previous</a>
  <a href="/question-eight" class="nav-item">Next</a>
</div>
<%- include("footer"); %>
