<%- include("header"); %>
<div>
  <h2><%= question %></h2>
  <div class="answer-container">
    <div class="answer-item">
      <span>A</span>
      []
    </div>
    <div class="answer-item">
      <span>B</span>
      &amp;&amp;
    </div>
    <div class="answer-item">
      <span>C</span>
      {}
    </div>
    <div class="answer-item">
      <span>D</span>
      /* */
    </div>
  </div>
</div>
<div class="nav-container">
  <a href="/question-four"class="nav-item">Previous</a>
  <a href="/question-six" class="nav-item">Next</a>
</div>
<%- include("footer"); %>
