<%- include("header"); %>
    <div class="results">

        <h2>
            <%= headline %>
        </h2>
        <div class="result-container">
          <div class="result-card">
            <div class="result-card-headline">Answer Key</div>
            <div class="result-key">
              <ul>
                <li>
                  Which one of these is not a JavaScript data type?"<br />
                  C) Loop
                </li>
                <li>
                  The following is a symbol for a comment in Javascript, ‘//’"<br />
                  A) True
                </li>
                <li>
                  What will this line of text perform in Javascript, ‘console.log()’?"<br />
                  C) Creates and logs keyed variables
                </li>
                <li>
                  JavaScript is case-sensitive?"<br />
                  A) True
                </li>
                <li>
                  Which symbols/characters create an array?"<br />
                  A) [ ]
                </li>
                <li>
                  What is a local variable?"<br />
                  A) Loop
                </li>
                <li>
                  Which term is used to convert one data type to another?<br />
                  B) Parse
                </li>
                <li>
                  JavaScript has two types of functions, named or literal"<br />
                  B) False
                </li>
                <li>
                  JavaScript is a scripting language and an object-oriented programming language"<br />
                  A) True
                </li>
                <li>
                  Which company developed JavaScript?"<br />
                  B) Netscape
                </li>
              </ul>
            </div>
          </div>
          <div class="result-card">
            <div class="result-card-headline">Your Ranking</div>
            <div class="result-card-overview">
              Your ranking:<br />
              ABOVE AVERAGE
            </div>
          </div>
          <div class="result-card">
            <div class="result-card-headline">Your Score</div>
            <div class="result-card-overview">
              You got:<br />
              9 out of 10 correct!
            </div>
          </div>
        </div>

    </div>



        <%- include("footer"); %>
